<section class="marquee">
  <div class="marquee__wrap content">
    <div class="marquee__wrap-overflow">
      <ul class="marquee__list">
        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="http://forexleader.ru/images/85.jpg">

            <div class="marquee-item__text">
                <p class="marquee-item__name">B Craig</p>
                <span class="marquee-item__sum">
                  <span class="marquee-item__plus">+</span>
                  USD 924.00
                </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="http://forexleader.ru/images/85.jpg">

            <div class="marquee-item__text">
                <p class="marquee-item__name">B Craig</p>
                <span class="marquee-item__sum">
                  <span class="marquee-item__plus">+</span>
                  USD 924.00
                </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="http://forexleader.ru/images/85.jpg">

            <div class="marquee-item__text">
                <p class="marquee-item__name">B Craig</p>
                <span class="marquee-item__sum">
                  <span class="marquee-item__plus">+</span>
                  USD 924.00
                </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="http://forexleader.ru/images/85.jpg">

            <div class="marquee-item__text">
                <p class="marquee-item__name">B Craig</p>
                <span class="marquee-item__sum">
                  <span class="marquee-item__plus">+</span>
                  USD 924.00
                </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="http://forexleader.ru/images/85.jpg">

            <div class="marquee-item__text">
                <p class="marquee-item__name">B Craig</p>
                <span class="marquee-item__sum">
                  <span class="marquee-item__plus">+</span>
                  USD 924.00
                </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="http://forexleader.ru/images/85.jpg">

            <div class="marquee-item__text">
                <p class="marquee-item__name">B Craig</p>
                <span class="marquee-item__sum">
                  <span class="marquee-item__plus">+</span>
                  USD 924.00
                </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="http://forexleader.ru/images/85.jpg">

            <div class="marquee-item__text">
                <p class="marquee-item__name">B Craig</p>
                <span class="marquee-item__sum">
                  <span class="marquee-item__plus">+</span>
                  USD 924.00
                </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="http://forexleader.ru/images/85.jpg">

            <div class="marquee-item__text">
                <p class="marquee-item__name">B Craig</p>
                <span class="marquee-item__sum">
                  <span class="marquee-item__plus">+</span>
                  USD 924.00
                </span>
            </div>
          </div>
        </li>

        <li class="marquee__item">
          <div class="marquee-item">
            <img class="marquee-item__img" src="http://forexleader.ru/images/85.jpg">

            <div class="marquee-item__text">
                <p class="marquee-item__name">B Craig</p>
                <span class="marquee-item__sum">
                  <span class="marquee-item__plus">+</span>
                  USD 924.00
                </span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
