.input-item {
  display: block;

  &.required {
    .input-item__title {
      &:after {
        content: '*';
        color: $error;
      }
    }
  }

  &.error {
    .input-item__input {
      border-color: $error;
    }

    span {
      color: $error;
    }
  }
}

.input-item__title {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  color: #515956;
}

.input-item__input {
  height: 44px;
  width: 100%;
  border: 1px solid #515956;
  padding: 0 8px;
  border-radius: 2px;

  @include hover {
    border-color: #006ea9;
  }
}

.input-item__input--area {
  height: 80px;
  padding-top: 8px;
}
